<div class="average-review-rating" data-score=<%= @average_comment%>>
  <span class="btn btn-success sm"><%= @average_comment%></span>
  </div>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function () {
      return $(this).attr('data-score')
    }
  })
</script>