/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require assets/css/swiper.min.css
 *= require_tree .
 *= require_self
 */


 /* navbar */

#navbar{
    transition: top 0.3s;
}


.colnav{
    background-color: #4e506bc4;
}

.divmada{
    width: 4%;
}

.sizemada{
    width: 100%;
}

.alert{
   display: contents;
}

.logo{
    width: 18%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sizelogo{
    width: 100%;
}

 .rightpad{
     margin-right: 10px;
 }

 .panier{
     color: rgb(10, 10, 10);
      width: 10%;
 }

 .harona {
     width: 31%;
     margin-bottom: 10px;
 }

 .count {
     color: black;
 }

 @media only screen and (max-width: 768px) {
    .logo{
        width: 36%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .divmada {
        width: 6%;
    }

    .harona {
        width: 75%;
        margin-bottom: 0px;
    }

    .count {
    color: black;
    position: absolute;
    margin-left: 10px;
    margin-top: 3px;
    }

}


 /* footer */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px;  
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #4e506bc4;
    margin-bottom: 0px
}

.margfoot{
    margin-top: 60px;
}

.margfoote{
    margin-bottom: 0px !important;
    text-align: center;
}

.padlinkfooter{
    padding-top: 23px;
    margin-bottom: 60px;
    background-color: #A6A6A6;
}

/******************************
*       devise                *
*******************************/

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}


.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.8);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center;
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.google {
    background-color: blue;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.clipimg{
    width: 100%;
    height: 100%;
    position: absolute;
    clip: rect(4px, 370px, 732px, 4px);
}

@media only screen and (max-width: 768px) {
    .clipimg {
        width: 100%;
        height: 100%;
        position: absolute;
        clip: rect(4px, 323px, 732px, 4px);
    }
}

.hr {
    /* centre verticalement les enfants entre eux */
    align-items: center;

    /* active flexbox */
    display: flex;

    /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
    text-align: center;
}

.hr::before,
.hr::after {
    /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
    border-top: .0625em solid;

    /* nécessaire pour afficher les pseudo-éléments */
    content: "";

    /* partage le reste de la largeur disponible */
    flex: 1;

    /* espace les traits du texte */
    margin: 0 .5em;
}

.iconlogin{
    text-align: center;
}


/* devise manager */
.login-manager{
    text-align: center;
    background-color: cadetblue;
    border: 1px solid rgb(2, 2, 2);
    margin-top: 80px;
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);

}


/* top */
#button {
    display: inline-block;
    background-color: #C4250A;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #4E506B;
}

#button:active {
    background-color: #4E506B;
}

#button.show {
    opacity: 1;
    visibility: visible;
}