// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.spacecol{
    width: 20%;
}

.imagecolcontent{
    width: 50%;
    height: 12%;
}

.totalcart{
    text-align: right;
}

.trashbtn{
    color: red;
}

.qttydiv{
    width: 90px !important;
}

.sizeqty{
    width: 30%;
    text-align: center;
}

.minusbtn{
    text-decoration: none;
    color: white;
    border-top-width: 4px !important;
}

td{
    padding: 0.5rem !important;
}

// .minusbtn:hover{
//     text-decoration: none;
//     color: white;
//     border-top-width: 4px;
// }