// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.filtercarousel{
    background-size: cover;
    filter: grayscale(0.25);
}

.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.tail{
    width:100%;
    height:100%;
}

// article
.taildiv{
    color: white;
}

.tailsp{
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: justify;
}

.textart{
    color: black;
    text-decoration: none;
}


// front modal
.modalimg {
    width: 100%;
}

.promodal {
    display: flex;
    justify-content: space-between;
}

.imgcontent {
    width: 20%;
}

.listprod {
    margin-bottom: 0px;
}

.formqtt {
    width: 20%;
}


// post

// /********* Superposition simple de texte sur une image *******/
// /* Conteneur principal */
// .overlay-image {
//     position: relative;
//     width: 100%;
// }

// /* Image originale */
// .overlay-image .image {
//     display: block;
//     width: 100%;
//     height: auto;
// }

// /* Texte original */
// .overlay-image .text {
//     color: #fff;
//     font-size: 30px;
//     line-height: 1.5em;
//     text-shadow: 2px 2px 2px #000;
//     text-align: center;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 100%;
// }

// .overlay-image .normal {
//     transition: .5s ease;
// }

// .overlay-image:hover .normal {
//     opacity: 0;
// }

// .overlay-image .hover {
//     background-color: rgba(0, 0, 0, 0.5);
// }

// /********* Hover image et texte *******/
// /* Overlay */
// .overlay-image .hover {
//     position: absolute;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     opacity: 0;
//     transition: .5s ease;
// }

// /* Apparition overlay sur passage souris */
// .overlay-image:hover .hover {
//     opacity: 1;
// }

// service
.section-service{
    margin-bottom: 80px;
}

// artivle

.containere {
    
    width: 100%;
    height: 70%;
}

 .cont {
     position: relative;
     height: 30%;
     width: 100%;
 }

.image {
    display: block;
    width: 100%;
    height: 10%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(9, 10, 9, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}



.cont:hover
.overlay {
    height: 100%;
    width: auto;
}
.containere:hover
.overlay {
    height: 100%;
    width: auto;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.center{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.right{
    float: right;
}

.iconcolor{
    color: rgb(146, 0, 0);
}

.infocolor{
    color: rgb(3, 70, 13);
}

.spacemarg{
    margin-bottom: 60px;
}

.ligneimage{
    width: 25%;
    margin-left: 38%;
    margin-bottom: 4%;
}

.tailimgmanager{
    width: 140px;
    height: 140px;
}

// avis

.topavis {
    text-align: center;
}

.coloravis {
    color: rgb(240, 10, 10);
}


.sizeicon{
    font-size: 50px;
    padding-bottom: 12px;
}

 @media only screen and (max-width: 768px) {
     .overlay {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: rgba(9, 10, 9, 0.5);
         overflow: visible;
         width: 100%;
         height: 0;
         transition: .5s ease;
     }

 }


//  swiper

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 380px;

}

.swiper-slide .imagbox {
    width: 100%;
    overflow: hidden;
}

.swiper-slide .imagbox .imagcont {
    width: 100%;
    height: 380px;
}

// flipbook product
.container-img{
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagbx{
    width: 100%;
    height: 100%;
}

.imgtail{
    width: 100%;
    height: 100%;
}

.cardimg{
    position: relative;
    margin: 20px 0;
    width: 300px;
    height: 400px;
    background-color: white;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
}

.cardimg:hover{
    z-index: 1000;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.cardimg .imagbx{
    position: relative;
    border: 1px solid rgb(2, 2, 2);
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.cardimg:hover .imagbx{
    transform: rotateY(-135deg);
}

.cardimg .imagbx .imgtail{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.cardimg .details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}

 @media only screen and (max-width: 768px) {
     .container-img {
         max-width: 1000px;
         margin: 100px auto;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-left: 46px;
     }
}

// zomm image
/* [IMAGE] */
.zoomD {
    width: 600px;
    height: auto;
    cursor: pointer;
}

/* [LIGHTBOX] */
#lb-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}

#lb-back.show {
    visibility: visible;
    opacity: 1;
}

#lb-img {
    text-align: center;
    height: inherit;
    overflow: auto;
}

#lb-img .imagcont{
    width: 90%;
    margin-top: 115px;
}


