<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>


<div>
<%@product.each do |product|%>
 <%# <a href="products/<%=product.type_id%>
    article_id: <%= product.article_id%></br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   <a href="products/<%=product.type_id%>"> id </a>
</button>
   <%= link_to 'View Post', product_path(product.article_id), remote: true %>
<%end%>
</div>

<div id='post-content'></div>

-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>