<nav class="navbar navbar-expand-lg navbar-dark static-top sticky-top colnav">
  <div class="container">
  <div class="logo">
    <a href="/">
          <%# <img src="http://placehold.it/150x50?text=Logo" alt=""> %>
          <%= image_tag ("logo.png"), class:"sizelogo"%>
        </a>
      </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Accueil
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <% if user_signed_in?%>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_out" data-method = "delete">Se deconnecter</a>
        </li>
        <%else%>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Se connecter</a>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
  

<div>
  <i class="fas fa-shopping-basket panier">(0)</i>
</div>
</nav>